@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc4d;
}

h2 {
  text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add-product-container {
    position: relative;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.Product-title {
  color: #7380ec;
}

.top-effect {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #7380ec;
    top: 0;
    left: 0;
    border-radius: 40px;
}

.form-style {
    color: #7380ec;
}

.add-product-container div {
    margin-bottom: 20px;
}

.add-product-container label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.add-product-container input,
.add-product-container select {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #cccccc50;
}

.add-product-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
}

.add-product-container input {
  padding-block: 14px;
}

.add-product-container input::placeholder {
  padding-left: 10px
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7380ec;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4d84e2;
}

/* Mobile */
@media (max-width: 480px) {

    .add-product-container {
        width: 90%;
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .add-product-container input,
    .add-product-container select,
    button[type="submit"] {
        padding: 8px;
        font-size: 0.9rem;
    }

    .add-product-container input {
      padding-block: 14px;
      font-size: 13px;
    }

    .add-product-container input::placeholder {
      padding-left: 10px;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {

    .add-product-container {
        width: 400px
    }

    .add-product-container input,
    .add-product-container select {
        padding: 8px;
        font-size: 1rem;
    }

    button[type="submit"] {
        padding: 8px;
        font-size: 1.1rem;
    }

    .add-product-container input {
      padding-block: 14px;
    }

}

/* Desktop */
@media (min-width: 769px) {

    .add-product-container {
        max-width: 500px;
    }

    .add-product-container input {
      padding-block: 14px;
    }

    .add-product-container input::placeholder {
      padding-left: 10px;
    }
}
