{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Products</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="stylesheet" href="{% static "products.css" %}">
</head>


<body>
  {% if user.is_authenticated %}
  <div class="container">
    <main>
      <div class="products">
        <h2>All Logistics</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Contact Person</th>
              <th>Addr.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for logistic in Logistics %}
            <tr>
              <td>{{logistic.Name}} </td>
              <td>{{ logistic.Contact_Num }} </td>
              <td>{{logistic.Email}}</td>
              <td>{{logistic.Contact_prsn}}</td>
              <td>{{logistic.Address}}</td>
              <td>
                <a href="{% url "Edit Logistics" logistic.id %}">edit</a>
              </td>
            </tr>
            {% endfor %}
        </table>
      </div>

      <div class="top">

        <div class="theme-toggle-btn">
          <span class="material-symbols-sharp active">light_mode</span>
          <span class="material-symbols-sharp">dark_mode</span>
        </div>

        <div class="profile">
          <div class="info">
            <p>Hey, <b>Administrator</b></p>
            <small class = "text-muted">Admin</small>
          </div>
          <div class="profile-photo">
            <img src="images/profile-1.jpg" alt="">
          </div>
        </div>
      </div>
    </main>
  </div>
  <script href="{% static "index.js" %}"></script>
  {% endif %}
</body>


</html>